:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #1abc9c;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1abc9c;
    --bs-secondary: #2c3e50;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 26, 188, 156;
    --bs-secondary-rgb: 44, 62, 80;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-green-rgb: 44, 164, 34;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.pokedetails {
    width: 100%;
    background-image: url("/assets/img/Pok\ _Ball.webp");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 450px;
}

h2 {
    font-size: 4rem;
    text-align: center;
}

img {
    width: 25%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 1px solid #212529;
    border-radius: 15px;
    width: 25%;
}

.hPoke {
    background: var(--bs-body-bg);
}

.hPoke:hover {
    transform: scale(1.03s);
    box-shadow: 2px 2px 5px #212529;
    transition: 500ms;
}

.wPoke {
    background: var(--bs-body-bg);
}

.wPoke:hover {
    transform: scale(1.03s);
    box-shadow: 2px 2px 5px #212529;
    transition: 500ms;
}

.abiPoke {
    background: var(--bs-body-bg);
}

.abiPoke:hover {
    transform: scale(1.03s);
    box-shadow: 2px 2px 5px #212529;
    transition: 500ms;
}

.steel {
    background-color: #f4f4f4;
}

.fire {
    background-color: #FDDFDF;
}

.grass {
    background-color: #DEFDE0;
}

.electric {
    background-color: #FCF7DE;
}

.water,
.ice {
    background-color: #DEF3FD;
}

.ground {
    background-color: #f4e7da;
}

.rock {
    background-color: #d5d5d4;
}

.fairy {
    background-color: #ffb7ec;
}

.poison {
    background-color: #98d7a5;
}

.bug {
    background-color: #f8d5a3;
}

.dragon {
    background-color: #97b3e6;
}

.psychic {
    background-color: #e564fc;
}

.flying {
    background-color: #F5F5F5;
}

.fighting {
    background-color: #E6E0D4;
}

.normal {
    background-color: #F5F5F5;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: var(--bs-green);
    color: #fff;
    cursor: pointer;
}

option {
    background-color: var(--bs-green);
    color: #fff;
}